$('lev<%= @level %>').update('<div class="window_close_block"><%= image_tag("window-close.png", :class => "window_close", :id => 'window_close') %></div>');
$('lev<%= @level %>').insert('<%= escape_javascript(render @view) %>');
$('lev<%= @level %>').addClassName('focus');
