<div class="form_container">
  <div class="form_header"><h2>Resend confirmation instructions</h2></div>

  <div class="form_content round">
    <%= form_for(resource_name, resource, :url => confirmation_path(resource_name)) do |f| %>
      <%= f.error_messages %>

      <div class="form_label"><%= f.label :email %></div>
      <div class="form_text"><%= f.text_field :email %></div>

      <div class="form_submit"><%= f.submit "Resend confirmation instructions" %></div>
    <% end %>

    <div class="form_links">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>