<h2>Type</h2>

<%= form_for @game, :html => { :remote => true } do |f| %>
  <%= hidden_field_tag :element_id, @element_id %>
  <%= hidden_field_tag :helper, @helper %>
  <div class="field">
    <%= f.label :type_name %>
    <%= f.select :type_name, @types.collect { |t| [t.name, t.id] }, {}, :class => 'fcs' %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>