<h2>Characters</h2>

<%= form_for @game do |f| %>
  <div class="field">
    <%= f.label :character_name %>
    <%= f.text_field :character_name %>
  </div>
    <div class="field">
      <%= file_field :character, :picture %>
    </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
