<h2>Specs</h2>

<%= form_for @game, :html => { :remote => true } do |f| %>
  <%= hidden_field_tag :element_id, @element_id %>
  <%= hidden_field_tag :helper, @helper %>
  <div class="field">
    <%= f.label :specification_descriptions %>
    <%= f.text_field :specification_descriptions, :class => 'fcs' %>
  </div>
  <% unless @game.different_platforms.empty? %>
    <div class="field">
      <%= check_box_tag :update_diff_platforms, '1', true %>
      Apply changes to this game in the other platforms?
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
