<%# sh = 0 %>
<%# if sh == 0 and not @sh %>
  <%# sh = @day.length - 1 %>
<%# else %>
  <%# sh = @sh %>
<%# end %>
<% if @month_view %>
  <span class="day_text"><strong><%= @day_text.strftime("%a %d") %></strong> <%= " ("+@day.length.to_s+")" %></span>
<% else %>
  <span class="day_text"><strong><%= @day_text.to_i.to_s %></strong> <%= " ("+@day.first.to_s+")" %></span>
<% end %>

<div class="table_div">
  <table>
    <tr>
      <% for game in @day %>
        <% unless game.class == Fixnum %>
          <% if @publishers_year and @developers_year %>
            <% for publisher in game.publishers %>
              <% @publishers_year << publisher unless @publishers_year.include?(publisher) %>
            <% end %>
            <% for developer in game.developers %>
              <% @developers_year << developer unless @developers_year.include?(developer) %>
            <% end %>
          <% end %>
          <td class="boxart_block" id="<%= game.full_title_limit+"("+game.platform.short_name.upcase+")" %>" onmouseover="fullTooltipGameInfo(event, this, <%= game.id %>)">
            <div id="boxart_links<%= game.id %>" style="display:none;width:auto;">
              <%= game.full_title_limit %><%= " (" %><%= link_to(game.platform.short_name.upcase, game_path(game)) + (game.different_platforms_same_day.empty? == true ? ")" : ",") %>
              <% for diff_platform in game.different_platforms_same_day %>
                <%= link_to(diff_platform.platform.short_name.upcase, game_path(diff_platform)) + (diff_platform == game.different_platforms_same_day.last ? ")" : ", ") %>
              <% end %><br />
              <!-- <span class="game_view_tooltip_link">
                <%# link_to "View Game", game_path(game.id) %>
              </span>
              <span class="boxart_tooltip_link">
                <%# link_to "Boxart", "#" %>
              </span> -->
            </div>
            <%= box_logo(game, :thumb, :prototip => true, :tooltip => false, :hover => true) %>
            <script type="text/javascript">
              tooltipGameInfo($('tooltip<%= game.id %>'), $('boxart_links<%= game.id %>'))
            </script>
            <div id="tooltip_info<%= game.id %>" style="display:none">
              <div class="tooltip_game_info">
                <div class="tooltip_boxart_wrapper">
                  <div class="tooltip_boxart">
                    <%= box_logo(game) %>
                  </div>
                </div>
                <div class="tooltip_text">
                  <table cellspacing="0">
                    <tr>
                      <td><strong>Platform</strong>: </td><td><%= game.platform.name %></td>
                    </tr>
                    <tr>
                      <td><strong>Release Date</strong>: </td><td><%= game.release_date %></td>
                    </tr>
                    <tr>
                      <td><strong>Developed by</strong>: </td><td><% game.developers.each do |d| %>
                          <%= d.name + (d == game.developers.last ? "" : ", ") %>
                        <% end %></td>
                    </tr>
                    <tr>
                      <td><strong>Published by</strong>: </td><td><% game.publishers.each do |p| %>
                          <%= p.name + (p == game.publishers.last ? "" : ", ") %>
                        <% end %></td>
                    </tr>
                    <tr>
                      <td><strong>Genre</strong>: </td><td><% game.genres.each do |g| %>
                          <%= g.name + (g == game.genres.last ? "" : ", ") %>
                        <% end %></td>
                    </tr>
                    <tr>
                      <td><strong>Rating</strong>: </td><td><%= game.rating.name if game.rating %></td>
                    </tr>
                  </table>
                  <%= link_to "View Game", game_path(game) %>
                </div>
              </div>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>
  </table>
</div>
