<% sh = 0 %>
<% if sh == 0 and not @sh %>
  <% sh = @day.length - 1 %>
<% else %>
  <% sh = @sh %>
<% end %>
<span class="day_text"><strong><%= @day_text.to_i.to_s %></strong> <%= " ("+@day.first.to_s+")" %></span>

<div class="table_div">
  <table>
    <tr>
      <% for game in @day %>
        <% unless game.class == Fixnum %>
          <% if @publishers_year and @developers_year %>
            <% for publisher in game.publishers %>
              <% @publishers_year << publisher unless @publishers_year.include?(publisher) %>
            <% end %>
            <% for developer in game.developers %>
              <% @developers_year << developer unless @developers_year.include?(developer) %>
            <% end %>
          <% end %>
          <td class="boxart_block" onmouseover="showImageLinks(<%= game.id %>)">
            <div id="boxart_links<%= game.id %>" class="boxart_links" style="display:none;">
              <span id="link_tooltip_image<%= game.id %>" class="bottom_right_image_link">
                <%= link_to_function("Tool", "", :onmouseover => "fullTooltipGameInfo(event, this, #{game.id})") %>
              </span>
              <span id="link_boxart_image<%= game.id %>" class="bottom_left_image_link">
                <%= link_to "Box" %>
              </span>
              <span id="link_game_info_image<%= game.id %>" class="top_right_image_link">
                <%= link_to "Game", game_path(game.id) %>
              </span>
            </div>
            <%= box_logo(game, :thumb, :prototip => true, :tooltip => false, :hover => false) %>
            <div id="tooltip_info<%= game.id %>" style="display:none">
              <div class="tooltip_game_info">
                <div class="tooltip_boxart">
                  <%= box_logo(game) %>
                </div>
                <div class="tooltip_text">
                  <strong>Platform</strong>: <%= game.platform.name %><br />
                  <strong>Release Date</strong>: <%= game.release_date %><br />
                  <strong>Developer</strong>:
                  <% game.developers.each do |d| %>
                    <%= d.name + (d == game.developers.last ? "" : ", ") %>
                  <% end %><br />
                  <strong>Publisher</strong>:
                  <% game.publishers.each do |p| %>
                    <%= p.name + (p == game.publishers.last ? "" : ", ") %>
                  <% end %><br />
                  <%= pop_up "Edit game", '/edit?id=' + game.id.to_s if user_signed_in? %>
                  <%= link_to "More Info", game_path(game) %>
                </div>
              </div>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>
  </table>
</div>

