<h2>Edit Characters</h2>

<div class="inner_scroll">
  (Uncheck characters you want to remove)
  <%= form_for @game do |f| %>
    <% for character in @characters %>
      <%= check_box_tag "game[character_ids][]", character.id, true %>
      <%= f.label :character_ids, character.name %>
      <%= character_pic(character, :make_link => false) %><br />
    <% end %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
