<h2>Description</h2>

<%= form_for @game, :html => { :remote => true } do |f| %>
  <%= hidden_field_tag :element_id, @element_id %>
  <%= hidden_field_tag :helper, @helper %>
  <div class="field">
    <%= f.text_area :description, :rows => '10', :cols => '30', :class => 'fcs' %>
  </div>
  <% unless @game.different_platforms.empty? %>
    <div class="field">
      <%= check_box_tag :update_diff_platforms, '1', true %>
      Apply changes to this game in the other platforms?
    </div>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>