<% if user_signed_in? %>
  <span class="user_avatar"><%= image_tag current_user.gravatar_url(:rating => 'PG', :secure => true) %></span>
  <span class="logged_user">
    <label>User: </label><%= current_user.username %><br />
    <label>Level: </label><%= current_user.level.level.to_s + " (" + current_user.level.name + ") " %>
    - <label>Exp: </label><%= current_user.exp %>
  </span>
  <%= link_to "Sign out", destroy_user_session_path %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  or <%= link_to "sign in", new_user_session_path %>
<% end %>