<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <%= render 'layouts/includes' %>
  </head>
  <body>
    <div id="top_nav">
      <div id="page_title">
        <%= link_to "VG Timeline", root_path %>
      </div>
      <span id="user_info">
        <%= render 'layouts/user_info' %>
      </span>
      <div id="flash_info">
        <% flash.each do |name, msg| %>
          <%= content_tag :span, msg, :class => "#{name}" %>
        <% end %>
      </div>
    </div>
    <div id="container">
      <div id="nav">
        <div id="display_tab">
          <ul>
            <li id="current_first_year_view" class="current first"><a>Year View</a></li>
            <li><a>All-Time</a></li>
            <li class="last"><a>Other View</a></li>
          </ul>
        </div>
        <%= form_tag search_results_path, :method => :post do %>
          <span id="search_box">
            <%= hidden_field_tag :result_id, "none" %>
            <span id="main_search_box">
              <%=raw text_field_with_auto_complete :result, :text, { :value => "Game, Publisher, Developer, Character", :onfocus => "searchText(this, 0, 'Game, Publisher, Developer, Character');", :onblur => "searchText(this, 1, 'Game, Publisher, Developer, Character');", :onkeyup => "showClear('main_search_clear', this)" }, { :url => search_path(), :method => :get, :param_name => 'search', :after_update_element => 'insertResultId', :skip_style => true } %>
              <span style="display:table-cell;width:15px;"><span id="main_search_clear" class="clear_text" style="display:none;"><%= link_to_function image_tag("clear.png", :size => "12x12"), "clearText('result_text', this);" %></span></span>
            </span>
            <%= submit_tag "Search" %>
          </span>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <div id="lev1" class="pop_up" style="display: none;"></div>
    <div id="trans1" class="fade_back" style="display: none;"></div>
    <div id="lev2" class="pop_up" style="display: none;"></div>
    <div id="trans2" class="fade_back" style="display: none;"></div>
    <div id="lev3" class="pop_up" style="display: none;"></div>
    <div id="trans3" class="fade_back" style="display: none;"></div>
    <div id="lev4" class="pop_up" style="display: none;"></div>
    <div id="trans4" class="fade_back" style="display: none;"></div>
  </body>
</html>